
    <form method="get" action="/quizes/answers">
        <label>Capital de Italia?</label>
        <input type="text" name="respuesta"  value="Responda aqui"/>
        <input type="submit"/>
    </form>
